* {
    box-sizing: border-box;
}

html body {
    background-color: limegreen;
    font-family: "Brush Script MT", cursive, sans-serif;
    font-size: 40px;
    color: rgb(31, 119, 28);
}

 .header,
 .homepage.header {
    text-align: center;
}

#image {
    height: 500px;
    width: auto;
}

.homepage.header {
    font-size: 150px;
}

.header#white {
    color: white;
}

.header#red {
    color: #ff0000;
}

span {
    font-weight: 1000;
    color: white;
}