/* Box model helper:
* { 
    outline: 2px solid red;
} */
    
* {
    box-sizing: border-box;
}

html body {
    background-color: limegreen;
    font-family: "Brush Script MT", cursive, sans-serif;
    font-size: 40px;
    color: rgb(31, 119, 28);
}

 .header,
 .homepage.header {
    text-align: center;
}

div {
    margin: 0 0 50px 0;
}

#image {
    height: 500px;
    width: auto;
}

.homepage.header {
    font-size: 150px;
}

.header#white {
    color: white;
}

.header#red {
    color: #ff0000;
}

span {
    display: inline-block; 
    padding: 20px;
    font-weight: 1000;
    color: white;
}

h2,
h3 {
    margin-top: 100px;
    margin-bottom: -30px;
    border-bottom: 3px solid white;
}

li {
    padding: 10px 10px;
}

.homepage-item {
    display: inline;
}

.recipe-redirect {
    display: block;
    padding-left: 75px;
}